/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

/* ---Theming --- */

html {
  --brand-light: var(--red-8);

  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);

  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
}
@media (prefers-color-scheme: dark) {
  html {
    --brand-dark: var(--red-6);

    --text-1-dark: var(--gray-4);
    --text-2-dark: var(--gray-8);

    --surface-1-dark: var(--gray-12);
    --surface-2-dark: var(--gray-11);
    --surface-3-dark: var(--gray-10);
    --surface-4-dark: var(--gray-9);
  }
}

:root {
  --brand: var(--brand-light);

  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
}
@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--brand-dark);

    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
  }
}

/* --- END Theming --- */

body {
  font-family: sans-serif;
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: var(--size-4) var(--size-6);
}

button {
  margin: var(--size-6);
}

hr {
  border-top: var(--size-1) solid var(--brand) !important;
  width: 50vw;
}

/* --- Nav Bar --- */
.logo {
  clip-path: circle(50%);
  min-height: 25px;
  min-width: 25px;
}
.example {
  min-height: 50px;
  min-width: 50px;
}

.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: var(--gradient-20);
  padding: var(--size-5);
  margin-bottom: var(--size-4);

  font-size: var(--size-7);
  box-shadow: var(--shadow-5);

  a {
    padding: 0 var(--size-4) 0 var(--size-8);
    color: var(--gray-0);
    text-decoration-color: var(--indigo-12);
    text-decoration-thickness: var(--size-2);
    text-underline-offset: var(--size-2);

    margin-bottom: var(--size-8);

    :hover {
      text-decoration: underline;
    }
  }
}

.example {
  transform: rotate(30deg);
  margin-bottom: var(--size-8);
}

@media (max-width: 700px) {
  menu {
    display: flex;
    flex-direction: column;
    margin-right: var(--size-6);
  }
  .example {
    display: none;
  }
}

.nav_style {
  /* Fancy cutout effect - top */
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    calc(50% + 59.59px) calc(100% - 50px),
    50% 100%,
    calc(50% - 59.59px) calc(100% - 50px),
    0 calc(100% - 50px)
  );
}

/* --- END Nav Bar --- */

/* --- container around every page --- */
.page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: var(--size-7);

  /* Fancy cutout effect - bottom */
  clip-path: polygon(
    0 0,
    calc(50% - 3.64px - 59.59px) 0,
    50% calc(50px + 3.05px),
    calc(50% + 3.64px + 59.59px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
  margin-top: -40px;
}
/* --- --- */

/* --- Home page - main content --- */
body > picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

.welcome {
  color: var(--brand);
}

/* Incrementing buttons horizontal layout */
.buttons {
  display: flex;
  justify-content: space-evenly;
}
/* End incrementing buttons */

/* --- END home page --- */

/* Modal (Portal Overlay) */
.modal_background {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}

.modal_content {
  z-index: 20;
  max-height: 80vh;
  min-height: 80vh;
  max-width: 80vw;
  min-width: 80vw;
  top: var(--size-10);
  overflow-y: auto;
}

#btn-hide {
  position: absolute;
  top: var(--size-1);
  right: var(--size-1);
}

.modal_body {
  margin-top: var(--size-9);
}

@media (max-width: 700px) {
  .modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #btn-hide {
    margin-top: var(--size-1);
    position: relative;
  }
  .modal_body {
    margin-top: var(--size-2);
  }
}

/* END modal (portal overlay) */

/**/
/* Modal Contact Form */
.modal_form_title {
  font-size: var(--size-8);
}

.contact_form_fieldset {
  padding: var(--size-8);
  margin: 0 var(--size-8) var(--size-8) var(--size-8);
}

@media (max-width: 700px) {
  .contact_form_fieldset {
    padding: var(--size-1);
    margin: var(--size-1);
  }
}

.input_label {
  padding-right: var(--size-2);
}

.submit_contact_form {
  margin-top: var(--size-8);
}

.contact_input:first-of-type {
  margin-top: var(--size-6);
}
/* END modal contact form */

/* Contact Card */

.contact {
  flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  background: var(--gradient-9);
  border: 1px solid var(--surface-1);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  padding: var(--size-3) var(--size-6) var(--size-4) var(--size-6);
  margin: var(--size-4);
}

.contact_details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  padding: var(--size-2);
}

@media (prefers-color-scheme: dark) {
  .contact,
  .contact_details {
    color: var(--text-2);
  }
}

/* END Contact Card */

/* Certificate */

/* .certificate {
  flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  background: var(--blue-12);
  color: var(--gray-2);
  border: 1px solid var(--surface-1);
  padding: var(--size-8);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-5);
  margin: var(--size-8);
}

.certificate > h2,
h3,
h4 {
  font-family: serif;
  padding: var(--size-2);
  margin: 0;
}

.name {
  font-family: sans-serif;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: var(--gray-3);
  text-underline-offset: var(--size-2);
  padding: var(--size-2);
} */

/* END Certificate */
