/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

/* ---Theming --- */

html {
  --brand-light: var(--red-8);

  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);

  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
}
@media (prefers-color-scheme: dark) {
  html {
    --brand-dark: var(--red-6);

    --text-1-dark: var(--gray-3);
    --text-2-dark: var(--gray-5);

    --surface-1-dark: var(--gray-12);
    --surface-2-dark: var(--gray-11);
    --surface-3-dark: var(--gray-10);
    --surface-4-dark: var(--gray-9);
  }
}

:root {
  --brand: var(--brand-light);

  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
}
@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--brand-dark);

    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);

    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
  }
}

/* --- END Theming --- */

body {
  font-family: sans-serif;
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: var(--size-4) var(--size-6);
}

button {
  margin: var(--size-6);
}

/* --- Nav Bar --- */
.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: var(--gradient-20);
  padding: var(--size-3);

  font-size: var(--size-7);
  box-shadow: var(--shadow-5);

  a {
    padding: var(--size-4);
    color: var(--gray-0);
    text-decoration-color: var(--indigo-11);

    :hover {
      text-decoration: underline;
    }
  }
}

/* --- END Nav Bar --- */

/* --- container around every page --- */
.page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* --- --- */

/* --- Home page - main content --- */
body > picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

.welcome {
  color: var(--brand);
}

/* Incrementing buttons horizontal layout */
.buttons {
  display: flex;
  justify-content: space-evenly;
}
/* End incrementing buttons */

/* --- END home page --- */

/* Modal (Portal Overlay) */
.modal_background {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}

.modal_content {
  z-index: 20;
  min-height: 80vh;
  min-width: 80vw;
  top: var(--size-8);
}

#btn-hide {
  position: absolute;
  top: var(--size-1);
  right: var(--size-1);
}

.modal_body {
  margin: var(--size-8);
}
/* END modal (portal overlay) */

/**/
/* Modal Contact Form */
.modal_form_title {
  font-size: var(--size-8);
}

.contact_form_fieldset {
  padding: var(--size-7);
}

.input_label {
  padding-right: var(--size-2);
}

.submit_contact_form {
  margin-top: var(--size-8);
}

.contact_input:first-of-type {
  margin-top: var(--size-6);
}
/* END modal contact form */
