/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

button {
  margin: var(--size-6);
}

body > picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

/* Incrementing buttons */
.buttons {
  display: flex;
  justify-content: space-evenly;
}
/* End incrementing buttons */

/* Modal (Portal Overlay) */
.modal_background {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}

.modal_content {
  z-index: 20;
  min-height: 80vh;
  min-width: 80vw;
  top: var(--size-8);
}

#btn-hide {
  position: absolute;
  top: var(--size-1);
  right: var(--size-1);
}

.modal_body {
  margin: var(--size-8);
}

/* END modal (portal overlay) */
